.App {
  text-align: center;
  background-color: #f5f5dc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #003f8c; */
  background-color: #f5f5dc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fa-brands {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.fa-brands:hover {
  opacity: 0.7;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

/* Linkedin */
.fa-facebook {
  background: #55acee;
  color: white;
}

/* Reddit */
.fa-instagram {
  background: #55acee;
  color: white;
}

.logo {
  width: 300px; /* Adjust the size as needed */
  height: auto;
}

.p {
  color: rgb(34, 32, 32);
}

.contact-details {
  color: black;
  font-size: 20px;
  margin-top: 50px;
}
